body {
  background-color: #20272D;
}

.container {
  margin: 0 auto;
  margin-top: 100px;
  width: 789px;
  height: 100%;
}

.merp {
    width: 100px;
    height: 300px;
    background: #ccc;
    position: absolute;
/*    right: 20px;
    top: 80px;*/
    display: none;
}

.container-votes {
  margin: 0 auto;
  margin-top: 100px;
  width: 789px;
  height: 100%;
  padding: 20px 20px 20px 20px;
  background-color: #F6F6EF;
  -webkit-box-shadow: 0 0 11px 1px #111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

li {
  display: inline;
  padding-left: 20px;
}


nav {
  margin-top: -100px;
  background-color: #02a9b9;
  width: 100%;
  font-size: 22px;
  position: fixed;
  -webkit-box-shadow: 0 0 11px 1px #111;
  z-index: 2;
}

button {
  background:none;
  border:none;
  padding:0;
  cursor: pointer;
}

a:link {
  color: #111111;
  text-decoration: none;
}

a:visited {
  color: #111111;
  text-decoration: none;
}

form[name="post-vote"], form[name="input"] {
  display: inline;
}

#add {
  background-color: #02a9b9;
  padding: 5px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: white;
  margin: 20px auto;
}

input {

}

.row-submit input {
  margin: 0 auto;
  font-size: 18px;
  padding: 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


textarea {
  margin: 0 auto;
  width: 600px;
  resize: none;
  border: 1px solid #20272D;
  padding: 15px;
}

.row-submit {
  margin: 0 auto;
  position: fixed;
  background-color: #F6F6EF;
  padding: 20px 50px 20px 50px;
  left:0;
  right:0;
  width: 300px;
/*  margin-left: 20%;
  margin-right: 20%;*/
  margin-top: 125px;
  z-index: 2;
  border-radius: 4px;
}

input:focus, textarea:focus, button:focus{
  outline: none;
}

nav button {
  border: 1px solid rgba(0,0,0,0);
  background-color: #20272D;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.element {
  background-color: #ccc;
  padding: 30px;
  margin-bottom: 10px;
  background-color: #F6F6EF;
  -webkit-box-shadow: 0 0 11px 1px #111;
}

.element:hover{
  background-color: #ccc;
  padding: 30px;
  margin-bottom: 10px;
}


nav button:hover {
  background-color: #F6F6EF;
  color: #20272D;
  border: 1px solid #20272D;
}

/*.element button {
  border: 1px solid rgba(0,0,0,0);
  background-color: #20272D;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


.element button:hover {
  background-color: #F6F6EF;
  color: #20272D;
  border: 1px solid #20272D;
}*/

.row-submit button {
  border: 1px solid rgba(0,0,0,0);
  background-color: #02a9b9;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  padding: 10px 110px 10px 110px;
  font-size: 18px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


.row-submit button:hover {
  background-color: #F6F6EF;
  color: #20272D;
  border: 1px solid #20272D;
}

nav span {
  color: #fff;
  font-size: 32px;
}
