<form method="post" action="/posts/<%=@post.id%>/votes" name="post-vote">
  <small><button type="submit" name="vote" value="1">&#9650;</button></small>
  <small><button type="submit" name="vote" value="-1">&#9660;</button></small>
</form>
