<form name="login" action="/login" method="post">
  Username:
  <input type="text" name="user[username]"><br>
  Password:
  <input type="password" name="user[password]"><br>
  <input type="submit" value="Submit">
</form>
