<div class="container">
  <form name="signup" action="/signup" method="post">
    <input type="text" name="user[username]" placeholder="username" /><br>
    <br>
    <input type="text" name="user[email]" placeholder="email"/><br>
    <br>
    <input type="password" name="user[password]" placeholder="password"/><br>
    <br>
    <button id="add" type="submit">sign up</button>
  </form>
</div>
