<div id="container" class="container">

  <% @i = 0 %>
  <div class="feedback-list">
    <% @posts.each do |post| %>
    <% @post = post %>
      <%= erb :'/partials/_post' %>
    <% end %>
  </div>
</div>
