<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

  <script src="/js/application.js"></script>

  <title>feeDBC</title>
</head>
<body>
  <nav>
    <% if current_user %>
      <ul>
        <li><strong><a href="/">fee<span>DB</span>a<span>C</span>k</a></strong></li>
        <li>

        <li id="submit_button">
          <button type="submit" name="submit_feedback">Submit</button>
        </li>

        <div style="float:right; padding-right:20px">

          <li id="current_user">
            <button type="submit" name="profile">Welcome <%= current_user.username %></button>
          </li>

          <li id="signup_button">
            <form name="input" action="/logout" method="get">
              <button type="submit" name="logout">Logout</button>
            </form>
          </li>

        </div>

      </ul>
    <% else %>
      <ul>
        <li><strong><a href="/">fee<span>DB</span>a<span>C</span>k</a></strong></li>
        <li>

        <li id="submit_button">
          <button type="submit" name="login">Submit</button>
        </li>

        <div style="float:right; padding-right:20px">

          <li id="current_user">
            <button type="submit" name="login">Login</button>
          </li>

          <li id="signup_button">
            <button type="submit" name="signup">Sign Up</button>
          </li>

        </div>
      </ul>
    <% end %>
  </nav>


  <!-- Hidden Signup -->
  <div class="row-submit" id="signupStudent" style="display: none;">
    <h3>Sign Up</h3>

    <form name="signup" action="/signup" method="post">
      <input type="text" name="user[username]" placeholder="username"/><br>
      <br>
      <input type="text" name="user[email]" placeholder="email"/><br>
      <br>
      <input type="password" name="user[password]" placeholder="password"/><br>
      <br>
      <button type="submit" name="signup_submit">Sign Up</button>
    </form>
    <!--<legend id="alreadyUser"><h5>Already a user? <a href="#" name="login">Login</a></h5></legend>-->
  </div>


  <!-- Hidden Login -->
  <div class="row-submit" id="loginStudent" style="display: none;">
    <h3>Login</h3>

    <form name="login" action="/login" method="post">
      <input type="text" name="username" placeholder="username"/><br>
      <br>
      <input type="password" name="password" placeholder="password"/><br>
      <br>
      <button type="submit" name="login_submit">Login</button>
    </form>

    <!--<legend id="notUser"><h5>Not a user? <a href="#">Signup</a></h5></legend>-->
  </div>


  <!-- Hidden Submit -->
  <div class="row-submit" id="submitFeedback" style="display: none;">
    <form action="/posts" method="post" name="new_post">
      <textarea name="post[text]" placeholder="tweet sized feedback!" rows="4" cols="50"></textarea>
      <br>
      <br>
      <input type="checkbox" name="post[is_anonymous?]" value="<%= true %>">
      post anonymously
      <br>
      <br>
      <button id="feedback_submit" type="submit">Submit</button>
    </form>
  </div>

  <%= yield %>
</body>
</html>


