<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <% if current_user %>
        <li><strong><a href="/">FeeDBC</a></strong></li>
        <li><a href='/posts/new'>submit</a></li>
        <li><%= current_user.username %></a></li>
        <li>
          <form name="input" action="/logout" method="post">
            <input name="_method" type="hidden" value="delete" />
            <button type="submit">logout</button>
          </form>
        </li>
    <% else %>
      <ul>
        <li><strong><a href="/">FeeDBC</a></strong></li>
        <li><a href='/posts/new'>submit</a></li>
        <li><a href='/login'>login</a></li>
        <li><a href='/signup'>signup</a></li>
      </ul>
    <% end %>
  </nav>
  <%= yield %>
</body>
</html>


