<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav id="header_navbar">
    <% if current_user %>
        <li><strong><a href="/">feeDBC</a></strong></li>
        <li><a href='/posts/new'>submit</a></li>
        <li><%= current_user.username %></li>
        <li>
          <form name="input" action="/logout" method="get">
            <button type="submit" name="logout">logout</button>
          </form>
        </li>
    <% else %>
      <ul>
        <li><strong><a href="/">feeDBC</a></strong></li>
        <li><a href='/posts/new'>submit</a></li>
        <li id="current_user">
          <button type="submit" name="login">login</button>
        </li>
        <li id="signup_button">
          <button type="submit" name="signup">signup</button>
        </li>
      </ul>
    <% end %>
  </nav>

  <center><h2> Be actionable, specific, and kind. </h2></center>

  <!-- Hidden Signup -->
  <div class="row-submit" id="signupStudent" style="display: none;">
    <h3>Sign Up</h3>

    <form name="signup" action="/signup" method="post">
      <input type="text" name="user[username]" placeholder="username"/><br>
      <br>
      <input type="text" name="user[email]" placeholder="email"/><br>
      <br>
      <input type="password" name="user[password]" placeholder="password"/><br>
      <br>
      <button type="submit" name="signup_submit">signup</button>
    </form>
  </div>


  <!-- Hidden Login -->
  <div class="row-submit" id="loginStudent" style="display: none;">
    <h3>Login</h3>

    <form name="login" action="/login" method="post">
      <input type="text" name="username" placeholder="username"/><br>
      <br>
      <input type="password" name="password" placeholder="password"/><br>
      <br>
      <button type="submit" name="login_submit">login</button>
    </form>
  </div>

  <%= yield %>
</body>
</html>


